@import "../../../../styles/variables.scss";

.table-th {
    padding: 1rem;

    border-bottom: 1.5px solid $table-color;
}

.table-td {
    padding: 1rem;
}

.table-tr {
    border-bottom: 1px solid $table-color;
}

.table-img {
    width: 150px;
    height: 150px;
    padding: 0.25rem;

    border: 1px solid $table-color;
    border-radius: 0.25rem;
}

.table {
    width: 100%;

    text-align: left;

    border-collapse: collapse;
}

.table-tbody .table-tr:hover {
    background: $table-color;
}