@import "../../../../../styles/variables.scss";

button {
    display: inline-block;

    padding: 0.4rem 0.8rem;

    text-align: center;

    color: $text-color;
    border-color: $button-color;
    border-radius: 0.25rem;
    background: $button-color;

    font-size: 1.2rem;
    font-weight: 400;
}



input {
    display: block;

    padding: 0.45rem 0.9rem;

    border-color: $grey;
    border-radius: 0.15rem;
}

.circle-small {
    width: 1rem;
    height: 1rem;
    margin: 1rem;

    animation: rotate 2s linear infinite;

    border: 0.8rem solid $button-color;
    border-top: 0.8rem solid grey;
    border-radius: 50%;
}

.circle-medium {
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem;

    animation: rotate 2s linear infinite;

    border: 0.8rem solid $button-color;
    border-top: 0.8rem solid grey;
    border-radius: 50%;
}



@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.flex-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-flex-box {
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;

    display: flex;
    justify-content: center;

    width: 60%;
    margin-bottom: 2rem;
    padding: 1rem;

    border-top: none;
    border-radius: 0.15rem;
    background-color: white;
    box-shadow: 0 10px 12px 0 rgba(12, 12, 12, 0.288), 0 15px 20px 0 rgba(0, 0, 0, 0.253);
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60%;
    margin: 3rem;
}

h1 {
    color: $text-color;

    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}


.button-search{
    float: right;

    width: 55%;
    margin-top: 1.5rem;
}
.circle {
    width: 4rem;
    height: 4rem;
    margin: 1rem;

    animation: rotate 2s linear infinite;

    border: 0.8rem solid $button-color;
    border-top: 0.8rem solid grey;
    border-radius: 50%;
}