.modal {
    position: fixed;
    z-index: 1050;

    width: 64%;
    height: 70%;
    margin-top: 2rem;
    margin-right: 18%;
    margin-left: 18%;

    background-color: white;
}

.modal-fade {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(44, 38, 38, 0.6);
}

.modal-open {
    overflow: hidden;
}

.flex {
    display: flex;
    flex-direction: column;
}



.flex-content-space-between {
    display: flex;
    justify-content: space-between;

    margin-right: 1rem;
    margin-left: 1.5rem;
}

.flex-content-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-left: 1.6rem;
}

button.close {
    align-self: center;

    width: auto;
    padding: 0%;

    font-size: 2rem;
}

.user-information {
    margin-right: 2rem;
    margin-left: 2rem;
}

.modal-table {
    margin-top: 2rem;
}
